/* master styles */
body{
    margin:50px;
    justify-content: space-evenly;
}
/* displays the container in grid form of 1 fractional unit */
.container{
    display: grid;
    grid-template-columns: 1fr;
}
/* end of master styles */

/*nav styles*/
.navbar{
    display: flex;
    justify-content: space-between;
    /* padding: 38px */
}
.left-side{
    display:flex;
}
.right-side{
    margin-right:100px;
    display: inline-block;
}

/*selects  any div element after the left-side child ,the children of a parent class*/
.navbar > .left-side > div{
    margin-right: 20px;
    font-size: 14px;
    text-transform:uppercase;
}
.link-wrapper{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border 0.5s;
}
/*selects the anchor element*/
.link-wrapper a{
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}
/*(1st) animation effect on navbars.creates a hover-border effect on the links*/
.link-wrapper:hover{
   border-bottom: 1px solid rgb(72, 255, 0);
}
/*creates the hover effect upon hovering on the specific link*/
.link-wrapper a:hover{
color: black;
}
.active-link{
    border-bottom: 1px solid black;
}
.active-link a{
    color: black !important;
}
/* end of nav styles */

/* portfolio styles */
.portfolio-items-wrapper{
    display: grid;
    /* will have two columns each of 1fr */
     grid-template-columns: 1fr 1fr;
     margin-top:10px;
}
.portfolio-item-wrapper{
    position: relative;
}
.portfolio-img-background{ 
    height: 350px;
    width:100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper{
    position:relative;
     top: 0;
     display:flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height: 100%; 
    text-align: center;
    padding-left: 100px;
   padding-right: 100px;
}

.logo-wrapper img{
    width:50%;
    margin-bottom: 20px;
}
/* creates a transparent subtitle before hovering over  */
.img-text-wrapper .subtitle{
    transition: 1s;
    font-weight: 9 00;
    color: transparent;
}
/*(1) styles the subtitle text and needs to be specific */
.subtitle{
font-weight: 900;
color:rgb(0, 217, 255);
} 
/*(3) creates a hover effect on the subtitle text */
.img-text-wrapper:hover .subtitle{
    font-weight: 900;
    color:white;
}
/* (2)animate the image */
.img-darken{
    transition:1s;
    filter:brightness(10%);
}
/* About page styles */
.two-column-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.profile-img-wrapper img{
    width: 100%;
}
.profile-content-wrapper{
    padding: 30px;
}
.profile-content-wrapper h1{
    color:red;
}